<template lang="pug">
  header
    .container
      .w-full.h-16.shadow-md.flex.justify-between.items-center.px-3
        .flex.items-center.space-x-3
          .logo.w-14.h-14.bg-center.bg-cover.rounded-full(style="background-image: url('https://pbs.twimg.com/media/Dp85iExUwAAHdT0?format=jpg');")
          .uppercase.font-bold.text-3xl KFZ
        input.search(placeholder="ค้นหา")

        .p-4.bg-gray-400.rounded-full

</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({})
</script>

<style lang="postcss" scoped>
.search {
  @apply w-64 h-10 border-2 px-2 rounded-full;
}
</style>
