<template lang="pug">
.table-container
  table.table-fixed.border-collapse.border.border-green-800.w-full
    thead
      tr
        th(class="w-1/5") ชื่อ
        th(class="w-1/5") นามสกุล
        th ตำแหน่ง
        th แผนก
        th ลาพักผ่อน
        th ลากิจ
        th ลาป่วย
        th ลาสะสมรวม
        th ยอดคงเหลือ
        th ตัวเลือก
    tbody
      tr(v-for="(item, index) in getData" :key="index")
        td {{ item.firstName }}
        td {{ item.lastName }}
        td {{ item.position }}
        td {{ item.department }}
        td 5
        td 4
        td 3
        td 2
        td 1
        td
          .flex.items-center.justify-around
            ModalUpdate(name="create-outline" :employee="item" @click="putEmployees(item)")
            ion-icon(class="cursor-pointer p-2 rounded-full text-white bg-red-400 hover:bg-red-500 focus:outline-none" name="exit-outline"  @click="deleteEmployees(item)")

</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import { mapGetters } from 'vuex'
import ModalUpdate from '../modals/Update.vue'

export default defineComponent({
  components: { ModalUpdate },
  computed: {
    ...mapGetters(['getData']),
  },
  methods: {
    putEmployees(employee: any) {
      this.$store.dispatch('putEmployees', employee)
    },
    deleteEmployees(employee: any) {
      if (confirm('Do you really want to delete?')) {
        this.$store.dispatch('deleteEmployees', employee._id)
      }
    },
  },
})
</script>
<style lang="postcss" scoped>
td,
th {
  @apply border border-green-200 text-center;
}
</style>
