.section-hero {
  @apply w-full h-screen relative;

  .btn {
    @apply text-red-400 px-3 py-2 rounded-full shadow-md;
  }
  .btn:nth-child(2) {
    @apply text-white bg-red-400 hover:bg-red-500;
  }
}
