<template lang="pug">
.section-hero.w-full.h-screen.flex.px-3
  .h-full.w-full
    .info.p-4
      .info-content
        .flex.justify-between.items-center
          h1.title พนักงานทั้งหมด
          .description.flex.w-auto.space-x-5.items-center
            ModalFilter
            ModalAddEmployee
            ModalAddLeaveList

    Table
    Pagination.w-full.flex.justify-center.mt-5
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

import ModalAddEmployee from '../components/modals/AddEmployee.vue'
import ModalFilter from '../components/modals/Filter.vue'
import ModalAddLeaveList from '../components/modals/AddLeaveList.vue'
import Table from '../components/menus/Table.vue'
import Pagination from '../components/Pagination.vue'
export default defineComponent({
  components: {
    ModalAddEmployee,
    ModalFilter,
    ModalAddLeaveList,
    Table,
    Pagination,
  },
  mounted() {
    this.fetchOfficers()
  },
  methods: {
    fetchOfficers() {
      this.$store.dispatch('fetchOfficers')
    },
  },
})
</script>

<style lang="scss" scoped>
@import '@/assets/scss/pages/index.scss';
</style>
