<template lang="pug">
.section.w-full.h-screen.flex.flex-col-reveresed
	<img src="https://images.unsplash.com/photo-1540569876033-6e5d046a1d77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="background" class="object-cover object-center h-screen w-7/12">
	.main.flex-auto.bg-white.p-2
		.texthead.bg-white.flex.flex-col.justify-center.items-center
			h.text-3xl.font-black.text-black.pt-16 LOGIN
			.w-full.max-w-xs
				.px-8.pt-10.mb-4
					p ยินดีต้อนรับ
				.form.bg-white.rounded.px-8.pt-6.pb-8
					.pb-4.space-y-2
						p Email
						<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="text">
					.pb-4.space-y-2
						p Password
						<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="text">
					.pb-4
						<button class="focus:outline-none bg-red-400 focus:bg-red-500 focus:ring focus:ring-red-200 w-full h-9 text-white rounded">Log in</button>
					

					.section.flex.flex-col.items-center.justify-center.space-y-4.pt-2
						h2.text-gray-400 or login with

						.flex.items-center.flex-col.pt-2
							.facebook.pb-2
								button.login-with.border.border-red-400.w-64.h-10.rounded.flex.items-center.p-4.text-blue-600.space-x-2
									ion-icon(name="logo-facebook")
									p Facebook
							.google.pb-2
								button.login-with.border.border-red-400.w-64.h-10.rounded.flex.items-center.p-4.text-red-400.space-x-2
									ion-icon(name="logo-google")
									p Google Account
							.phone.pb-2
								button.login-with.border.border-red-400.w-64.h-10.rounded.flex.items-center.p-4.text-green-600.space-x-2
									ion-icon(name="call-outline")
									p Phone Number

						.space-x-1
							span.text-sm.font-light Don't have an account?
							<a class="text-red-500 hover:text-red-600 text-sm font-light hover:underline" href="#">Sign up</a>
									
								
								

</template>

<script lang="ts">
export default {

}
</script>

<style lang="postcss" scoped>
.texthead {
	width: 5/12;
}
.login-with {
	@apply hover:bg-red-400 hover:text-white;
}
</style>
