<template lang="pug">
.py-2
  nav.block
    ul.flex.pl-0.rounded.list-none.flex-wrap
      li
        a.text-xs.font-semibold.flex.w-8.h-8.mx-1.p-0.rounded-full.items-center.justify-center.leading-tight.relative.border.border-solid.border-pink-500.text-white.bg-pink-500(href="#pablo" class="first:ml-0") 1
      li
        a.text-xs.font-semibold.flex.w-8.h-8.mx-1.p-0.rounded-full.items-center.justify-center.leading-tight.relative.border.border-solid.border-pink-200.text-white.bg-pink-200(href="#pablo" class="first:ml-0") 2
      li
        a.text-xs.font-semibold.flex.w-8.h-8.mx-1.p-0.rounded-full.items-center.justify-center.leading-tight.relative.border.border-solid.border-pink-500.bg-white.text-pink-500(href="#pablo" class="first:ml-0") 3
      li
        a.text-xs.font-semibold.flex.w-8.h-8.mx-1.p-0.rounded-full.items-center.justify-center.leading-tight.relative.border.border-solid.border-pink-500.bg-white.text-pink-500(href="#pablo" class="first:ml-0") 4
      li
        a.text-xs.font-semibold.flex.w-8.h-8.mx-1.p-0.rounded-full.items-center.justify-center.leading-tight.relative.border.border-solid.border-pink-500.bg-white.text-pink-500(href="#pablo" class="first:ml-0") 5
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
export default defineComponent({})
</script>
