<template lang="pug">
.modal-container
  .cursor-pointer.px-3.py-2.rounded-full.shadow.outline-none.space-x-1.flex.items-center(class="text-white bg-pink-400 hover:bg-pink-500 focus:outline-none")
    ion-icon(name="add-circle-outline")
    button เพิ่มรายการลา
  .overflow-x-hidden.overflow-y-auto.fixed.inset-0.z-50.outline-none.justify-center.items-center.flex(v-if="showModal" class="focus:outline-none")
    .relative.w-auto.my-6.mx-auto.max-w-3xl
      // content
      .border-0.rounded-lg.shadow-lg.relative.flex.flex-col.w-full.bg-white.outline-none(class="focus:outline-none")
        // header
        .flex.items-start.justify-between.p-5.border-b.border-solid.border-blueGray-200.rounded-t
          h3.text-2xl.font-semibold กรอกข้อมูล
          button.p-1.ml-auto.border-0.float-right.outline-none(class="focus:outline-none" @click="toggleModal()")
            ion-icon(name="close-outline" color="danger" class="close").h-6.w-6.text-2xl.block.outline-none
        // body
        .relative.p-6.flex-auto.space-y-3
          input(placeholder="กรอกเลขบัตรประชาชน" v-model="idCard" maxlength="13")
          .flex.justify-between.space-x-3
            input(placeholder="กรอกชื่อ" v-model="firstName")
            input(placeholder="กรอกนามสกุล" v-model="lastName")
          p ตำแหน่ง
          Dropdown(v-model="position")
          p แผนก
          DropdownDepartment(v-model="department")
        // footer
        .flex.items-center.justify-end.p-6.border-t.border-solid.rounded-b
          button.text-red-500.bg-transparent.border.border-solid.border-red-500.font-bold.uppercase.text-sm.px-6.py-3.rounded.outline-none.mr-1.mb-1.ease-linear.transition-all.duration-150(class="hover:bg-red-500 hover:text-white active:bg-red-600 focus:outline-none" type="button" @click="toggleModal()") ปิด
          button.text-red-500.bg-transparent.border.border-solid.border-red-500.font-bold.uppercase.text-sm.px-6.py-3.rounded.outline-none.mr-1.mb-1.ease-linear.transition-all.duration-150(class="hover:bg-green-500 hover:text-white active:bg-red-600  focus:outline-none" type="button" @click="addData()") บันทึก
  .opacity-25.fixed.inset-0.z-40.bg-black(v-if="showModal")
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import Dropdown from '../forms/Dropdown.vue'
import DropdownDepartment from '../forms/DropdownDepartment.vue'
export default defineComponent({
  name: 'ModalAddLeaveList',
  components: {
    Dropdown,
    DropdownDepartment,
  },
  data() {
    return {
      idCard: '',
      firstName: '',
      lastName: '',
      position: '',
      department: '',
      showModal: false,
    }
  },
  methods: {
    toggleModal() {
      this.showModal = !this.showModal
    },
    addData() {
      this.$store.dispatch('addEmployees', {
        idCard: this.idCard,
        firstName: this.firstName,
        lastName: this.lastName,
        position: this.position,
        department: this.department,
      })
      this.idCard = ''
      this.firstName = ''
      this.lastName = ''
      this.position = ''
      this.department = ''
      this.toggleModal()
    },
  },
})
</script>

<style lang="postcss" scoped>
input {
  @apply w-full px-3 border-black border rounded-sm;

  height: 3.5rem;

  &::placeholder {
    @apply text-gray-400;
  }

  &:focus {
    @apply border border-green-300 outline-none;
  }
}
</style>
